<div class="container-fluid">
    <div class="row">
        <!-- Menu bên trái -->
        <div class="col-md-3 bg-light vh-100">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link " href="admin/accounts">Quản lý tài
                        khoản</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="admin/categories">Quản lý danh mục và sản phẩm</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="admin/statistics">Thống kê doanh thu</a>
                </li>
            </ul>
        </div>

        <!-- Nội dung bên phải -->
        <div class="col-md-9 p-4">
        </div>
    </div>
</div>