{{#if message}}
<div class="alert alert-danger" role="alert">
    {{message}}
</div>
{{/if}}
<h1>Danh sách người dùng</h1>
{{#if users}}
<ul>
    {{#each users}}
    <li>{{this.name}} - {{this.email}}</li>
    {{/each}}
</ul>
{{/if}}
